In [87]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [88]:
df=pd.read_csv(r'drug200.csv')

In [89]:
df.columns

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [90]:
df.describe()
X=df.copy()

In [91]:
X['Sex']=X['Sex'].map({'M':1,'F':0})

In [92]:
look_up = dict(zip(X['Drug'].unique(), np.array(range(0,X['Drug'].nunique()))))

In [93]:
look_up

{'DrugY': 0, 'drugC': 1, 'drugX': 2, 'drugA': 3, 'drugB': 4}

In [94]:
X['Cholesterol']=X['Cholesterol'].map({'HIGH':1,'NORMAL':0})

In [95]:
X['Drug']=X['Drug'].replace(look_up)

In [96]:
dummy=pd.get_dummies(X['BP'])
X=X.drop('BP',axis=1)
X=pd.concat([X,dummy],axis=1)
X

     Age  Sex  Cholesterol  Na_to_K  Drug  HIGH  LOW  NORMAL
0     23    0            1   25.355     0     1    0       0
1     47    1            1   13.093     1     0    1       0
2     47    1            1   10.114     1     0    1       0
3     28    0            1    7.798     2     0    0       1
4     61    0            1   18.043     0     0    1       0
..   ...  ...          ...      ...   ...   ...  ...     ...
195   56    0            1   11.567     1     0    1       0
196   16    1            1   12.006     1     0    1       0
197   52    1            1    9.894     2     0    0       1
198   23    1            0   14.020     2     0    0       1
199   40    0            0   11.349     2     0    1       0

[200 rows x 8 columns]

In [97]:
Y=X['Drug']
X=X.drop('Drug',axis=1)

In [98]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [99]:
sacler=StandardScaler()
standard_x=sacler.fit_transform(x_train)
standard_x_test=sacler.fit_transform(x_test)

In [100]:
model=KNeighborsClassifier()
model.fit(standard_x,y_train)
y_predict=model.predict(standard_x_test)

In [101]:
acc_score=accuracy_score(y_test,y_predict)

In [102]:
acc_score

0.925