## Python Test

###  Check Unique Number

In [13]:
def checku(a):
    check=0
    for i in a:
        if a.count(i)>1:
            check=check+1
    return check

print("Input n for squence =")
n=int(input())
l=[]
i=1
for i in range(n+1):
    l.append(int(input()))
result=checku(l)
if result > 1:
    print("Not Unique list")
else:
    print("Unique list")

Input n for squence =
5
1
2
3
1
5
3
Not Unique list

###  Find Mean

In [14]:
print("Input n for squence =")
n=int(input())
s=0
for i in range(n):
    s=s+int(input())

print("Mean = ",s/n)

Input n for squence =
5
10
20
30
40
50
Mean =  30.0

###  Check Number is multiple of 5 and 7

In [17]:
print("Input number =")
n=int(input())
if n%5==0 and n%7 ==0 :
    print("True")
else:
    print("False")

Input numner =
35
True

### Print reserve of integer

In [36]:
print("Input number =")
n=input()
l=-len(n)
i=-1
while i>=l:
    print(n[i],end="")
    i=i-1

Input number =
123456789
987654321

### Outer function and inner function

In [38]:
def outer(a,b):
    print("this is outer function")
    def inner(a,b):
        s=a+b
        return s
    s=inner()
    return s+5
    
a=print("input a=",int(input()))
b=print("input b=",int(input()))
c=outer(a,b)
print(c)

4
input a= 4
5
input b= 5
this is outer function

TypeError: inner() missing 2 required positional arguments: 'a' and 'b'

### Check Leap Year

In [44]:
def leapyear(y):
    if y%4 != 0:
        print("not leap year")
    elif y%100==0 and y%400!=0:
        print("not leap year")
    else: 
        if y%4==0:
            print("leap year")

n=int(input())
leapyear(n)

22
not leap year

## Pandas

In [68]:
import numpy as np
import pandas as pd
df = pd.read_csv("auto.csv")
df.head()
#df.groupbypby(df[''])

,Unnamed: 0,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,3,2,164.0,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,4,2,164.0,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [69]:
df.columns

Index(['Unnamed: 0', 'symboling', 'normalized_losses', 'make', 'fuel_type',
       'aspiration', 'num_doors', 'body_style', 'drive_wheels',
       'engine_location', 'wheel_base', 'length', 'width', 'height',
       'curb_weight', 'engine_type', 'num_cylinders', 'engine_size',
       'fuel_system', 'bore', 'stroke', 'compression_ratio', 'horsepower',
       'peak_rpm', 'city_mpg', 'highway_mpg', 'price'],
      dtype='object')

In [56]:
df.groupby(df['make'])['make'].count() ## had to reffer noted :(

make
alfa-romero       3
audi              7
bmw               8
chevrolet         3
dodge             9
honda            13
isuzu             4
jaguar            3
mazda            17
mercedes-benz     8
mercury           1
mitsubishi       13
nissan           18
peugot           11
plymouth          7
porsche           5
renault           2
saab              6
subaru           12
toyota           32
volkswagen       12
volvo            11
Name: make, dtype: int64

In [58]:
df.groupby(df['make'])['price'].max()

make
alfa-romero      16500.0
audi             23875.0
bmw              41315.0
chevrolet         6575.0
dodge            12964.0
honda            12945.0
isuzu            11048.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mercury          16503.0
mitsubishi       14869.0
nissan           19699.0
peugot           18150.0
plymouth         12764.0
porsche          37028.0
renault           9895.0
saab             18620.0
subaru           11694.0
toyota           17669.0
volkswagen       13845.0
volvo            22625.0
Name: price, dtype: float64

In [67]:
df['price'].sort_values()

138     5118.0
18      5151.0
50      5195.0
150     5348.0
76      5389.0
        ...
74     45400.0
9          NaN
44         NaN
45         NaN
129        NaN
Name: price, Length: 205, dtype: float64

In [78]:
df.groupby(by="make")["highway_mpg"].mean()

make
alfa-romero      26.666667
audi             24.142857
bmw              25.375000
chevrolet        46.333333
dodge            34.111111
honda            35.461538
isuzu            36.000000
jaguar           18.333333
mazda            31.941176
mercedes-benz    21.000000
mercury          24.000000
mitsubishi       31.153846
nissan           32.944444
peugot           26.636364
plymouth         34.142857
porsche          26.000000
renault          31.000000
saab             27.333333
subaru           30.750000
toyota           32.906250
volkswagen       34.916667
volvo            25.818182
Name: highway_mpg, dtype: float64